[Unit]
Description="Metlog service"
Requires=network-online.target
After=network-online.target

[Service]
User=ahs
Group=ahs
RuntimeDirectory=metlog
WorkingDirectory=/home/ahs/src/metlog
ExecStart=/home/ahs/src/metlog/venv/bin/python run.py rpi.lan /var/metlog/metlog.db

[Install]
WantedBy=multi-user.target
After=mosquitto.service
